<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="description" content="A place where you can vote for your favorite colors">
    	<meta name="keywords" content="Red, Blue, Green">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Color Voter</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<h1>Under Construction</h1>
		<form action="/newcolor" method="POST">
			<input type="color" placeholder="color" name="color">
			<button type="submit">Choose this color</button>
		</form>
		<ul class="colorCodes">
		<% for(let i=0; i < info.length; i++) {%>
			<li class="colorCode">
				<span><%= info[i].color %></span>
				<span><%= info[i].votes %></span>
				<span>Vote for this color</span>
			</li>
		<% } %>
		</ul>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
